body{
  margin: auto;
  padding: auto; 
}

h1,h2,h3,p,a {
  font-family: Comic -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
}

.subheader {
  color: #000000d8;
  text-align: center;
}

.card {
  cursor: pointer;
  width: 210px;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-color: var(--main-color, #1abc9c);
  margin: auto;
  padding: 5px 10%;
  transition-duration: 0.25s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 150px;
  height: 150px;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  margin: 10px;
  padding: 8px;
  transition-duration: 1s;
}

.arrow:hover {
  cursor: pointer;
  border-width: 0 5px 5px 0;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

#banner table{
  position: relative;
  transform: translateY(-16px);
  background: var(--main-color, #1abc9c);
  color: #ffffff;
  font-size: 20px;
  font-family: Comic -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  border-collapse: collapse;
  width: 100%;
}

#banner td, #banner th {
  /* border: 1px solid #ddd; */
  cursor: pointer;
  padding: 15px;
  transition-duration: 1s;
}

/* #checkout tr:nth-child(even){background-color: #f2f2f2;} */

#banner td:hover {
  background-color: #19af91;
  transform: translateY(1px);
} 

#footer div{
  bottom: 0px;
}

#footer table, #footer p{
  color: #000000;
  font-size: 20px;
  font-family: Comic -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  border-collapse: collapse;
  margin: 20px 25%;
  width: 50%;
  padding: 10px;
}


#footer td, #banner th {
  /* border: 1px solid #ddd; */
  cursor: pointer;

}

ul{
  text-align: left;
}

li {
  display: inline-block;
  margin: 0px 20px;
  padding: 10px 10px 10px 10px;
}

.category {
  cursor: pointer;
  transition-duration: 1s;
}

.category a:hover {
  color: #ebebebd7;
}

.link{
  transition-duration: 1s;
  margin: auto;
  text-align: center;
}

.link:link{
  margin:auto;
}

.link:active{
  color:red;
}

.link:visited{
  color:green;
}

.link:hover {
  color:orange;
  font-size: 30px;
}

.upper h3{
  position: relative;
  display: inline-block;
}

.upper button {
  border: none;
  padding: 6px 9px;
  transform: scale(.9);
  display: inline-block;
  transition-duration: 1s;
}

.upper button:hover{
  transform: translate(0px, 0px);
  box-shadow: 1px 1px;
}

.upper button:active{
  transition-duration: .1s;
  transform: translate(1px, 1px);
  box-shadow: 0px 0px;
  background-color: #bbbbbb;
}

#checkout {
  font-family: Comic -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-collapse: collapse;
  width: 96%;
  transition-delay: 1s;
  margin: 0 2%; 
}

#checkout td, #checkout th {
  border: 1px solid #ddd;
  padding: 8px;
}

/* #checkout tr:nth-child(even){background-color: #f2f2f2;}

#checkout tr:hover {background-color: #ddd;} */

#checkout th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--main-color, #1abc9c);
  color: white;
}

#checkout img{
  width: 150px;
  height: 150px;
}

#checkout button {
  border: none;
  padding: 6px 9px;
  transform: scale(.9);
  display: inline-block;
  transition-duration: 1s;
}

#checkout button:hover{
  transform: translate(0px, 0px);
  box-shadow: 1px 1px;
}

#checkout button:active{
  transition-duration: .1s;
  transform: translate(1px, 1px);
  box-shadow: 0px 0px;
  background-color: #bbbbbb;
}